body {
    background-color: #140e0e !important;
    color: white !important;
}

.card {
    background-color: #0e1316 !important;
    color: white !important;
}

.dropdown-menu {
    background-color: #b72d2d !important;
    color: #9b878a !important;
}
